pkgbase = osufetch-bin
	pkgdesc = Minimal terminal osu! profile viewer
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/kartavkun/osufetch
	arch = x86_64
	license = MIT
	depends = glibc
	provides = osufetch
	conflicts = osufetch
	source = osufetch::https://github.com/kartavkun/osufetch/releases/download/v1.0.0/osufetch
	sha256sums = 49fe4dbda948954efd676f3461b8248e4c06d5d5da9df87e95861edb123075ee

pkgname = osufetch-bin
